# Logging Configuration
LOG_LEVEL=NOTSET
LOG_FILE=server.log

# Ollama Configuration
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=gemma3n:e4b-it-q4_K_M
OLLAMA_TIMEOUT_S=60

# Prompt Configuration
PROMPT_PATH=prompt.txt

# PaddleOCR Configuration
PADDLE_DET_MODEL=PP-OCRv5_mobile_det
PADDLE_REC_MODEL=PP-OCRv5_mobile_rec
